body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.btn-primary {
  background-color: #26a7de;
  font-weight: 500;
}

.btn-light {
  color: #26a7de;
  font-weight: 500;
}

.btn-light:hover {
  background-color: #26a7de;
  color: white;
}

.hide {
  display: none;
}

.container {
  width: 100vh;
  height: 95vh;
}

.footer-container {
  width: 100vh;
  height: fit-content;
  height: auto;
}
