#root {
  --toastify-color-light: rgba(0, 0, 0, 0.1);
  --toastify-text-color-light: #757575;

  --toastify-color-progress-light: linear-gradient(
    to right,
    rgb(29, 155, 240),
    rgb(29, 155, 240),
    rgb(29, 155, 240),
    rgb(29, 155, 240),
    rgb(29, 155, 240),
    rgb(29, 155, 240)
  );
}

:root {
  --border-radius: 9999px;
  --font-weight: 500;
  --font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
}

body {
  font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.logout-three-dots {
  position: relative;
}

.logout-nav {
  display: flex;
  /* margin: 0px 0px 0px 0px; */
  margin: 80px 0px 0px 0px;
  cursor: pointer;
}

.responsive-navigation-bar-bottom,
.responsive-navigation-bar-top,
.responsive-post-button {
  display: none !important;
}

.header-container {
  font-size: 64px;
  font-weight: 700;
}

.header-first {
  font-size: 64px;
}

.header-second {
  font-size: 31px;
}

.header-first,
.header-second {
  font-weight: 700;
  font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: rgba(15, 20, 25, 1);
  letter-spacing: -2.2px;
}

.btn-primary {
  background-color: rgb(29, 155, 240);
  font-weight: 700;
  outline-style: none;
  border-style: solid;
  border-color: rgb(207, 217, 222);
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-radius: var(--border-radius);
  width: 300px;
  height: 40px;
}

.btn-dark {
  font-weight: 700;
  outline-style: none;
  border-style: solid;
  border-color: rgb(207, 217, 222);
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-radius: var(--border-radius);
  width: 300px;
  height: 40px;
}

.create-btn:hover {
  background-color: rgb(16, 128, 202);
  outline-style: none;
  border-style: solid;
  border-color: rgb(207, 217, 222);
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-radius: var(--border-radius);
}

.btn-light {
  color: #26a7de;
  font-weight: 700;
  border-radius: var(--border-radius);
  outline-style: none;
  border-style: solid;
  border-color: rgb(207, 217, 222);
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-radius: var(--border-radius);
  width: 300px;
  height: 40px;
  background-color: white;
}

.have-account {
  font-weight: 700;
}

.btn-light:hover {
  background-color: #dbe9f4;
  color: #26a7de;
}

.hide {
  display: none;
}

.by-signing {
  font-size: 12px;
  color: rgb(83, 100, 113);
  height: 32px;
  margin-top: 8px;
  font-weight: 400;
  max-width: 300px;
  line-height: 13px;
  font-weight: 400;
  font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
}

.by-signing a {
  cursor: pointer;
  text-decoration: none;
}

.by-signing a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(29, 155, 240);
}

.input-group {
  width: 300px;
  height: 40px;
}

.form-control {
  outline-style: none;
  border-style: solid;
  border-color: rgb(207, 217, 222);
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-radius: var(--border-radius);
}

.form-control,
.create-btn,
.sign-in {
  height: 45px;
}

.footer-container {
  text-align: center;
  margin-top: 40px;
  width: 100%;
  padding: 12px 16px;
}

.footer-container a {
  text-decoration: none;
}

.footer-container a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(83, 100, 113);
}

.footer-container a > span {
  color: rgb(83, 100, 113);
  padding-right: 16px;
  font-weight: 400;
  word-wrap: break-word;
  font-size: 12px;
}

span > a {
  text-decoration: none;
  color: rgb(29, 155, 240);
}

span > a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(29, 155, 240);
}

.modal-body,
.modal-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in-header {
  font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  line-height: 36px;
  font-size: 31px;
  font-weight: 700;
  padding: 16px;
}

/* user-profile page  */
.nav-bar-home a {
  font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: rgba(15, 20, 25, 1);
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
}

.nav-bar-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  top: 0;
  left: 5%;
  z-index: 1000;
}

/* navigation bar hover effect start to check */
.inner-div {
  display: flex;
  flex-direction: column;
}
.inner-div div span {
  /* background-color: blue; */
  padding: 10px;
}

.inner-div svg {
  margin-left: 10px;
}
.home,
.notifications,
.messages,
.profile {
  display: inline-block;
  border-radius: 50%;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
}

.home:hover,
.notifications:hover,
.messages:hover,
.profile:hover {
  background-color: #e7e7e8;
}
/* navigation bar hover effect finish to check */

.compose-tweet {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
  min-width: 52px;
  min-height: 52px;
  transition-duration: 0.2s;
  margin-top: 50px;
  outline-style: none;
  border: none;
  margin-left: 5px;
}

.compose-tweet:hover {
  background-color: rgb(16, 128, 202);
  outline-style: none;
  border-style: solid;
  border-color: rgb(207, 217, 222);
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-radius: var(--border-radius);
}

.compose-tweet-textArea {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
  transition-duration: 0.2s;
}

.compose-tweet-textArea:hover {
  background-color: rgb(16, 128, 202);
  outline-style: none;
  border-style: solid;
  border-color: rgb(207, 217, 222);
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-radius: var(--border-radius);
}

.like-icon {
  margin-bottom: 50px;
  margin-right: 270px;
}

.inner-div-fonts span {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 10px;
  position: relative;
  top: 2px;
}

.compose-tweet {
  width: 250px;
}

.logout-nav {
  width: 250px;
  margin-right: 10px !important;
}

.logout-nav:hover {
  background-color: #e7e7e8;
  outline-style: none;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-width: 4px 1.25em;
  border-radius: var(--border-radius);
  transition: background-color 0.3s, box-shadow 0.3s;
}

/* NOTE NOTE PROBABLY DONE WITH THOSE CODES */
/* finish to check NOTE make it responsive */

.logout-body {
  width: 100%;
  height: 30px;
}

.logout-p {
  font: 14px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
  position: relative;
  padding: 5px;
  margin: 0;
}

.post-btn {
  width: 80px;
}

.input-post {
  font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  word-wrap: break-word;
  width: 100%;
  height: 150px;
  outline: none;
  border: none;
}

.bg-body-tertiary {
  border: none;
  background-color: white;
}

.emoji-modal {
  margin-top: 160px;
}

.Flex.epr-preview.FlexRow {
  display: none;
}

.post-head {
  font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
}

.r-rjixqe {
  line-height: 20px;
}

.bi-patch-check-fill {
  color: rgb(29, 155, 240);
  margin-bottom: 5px;
}

.bi-heart,
.bi-repeat,
.bi-chat {
  cursor: pointer;
}

.profile-paragraph {
  color: rgb(83, 100, 113);
  line-height: 16px;
  font-size: 13px;
  font-weight: 400;
  font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
}

.bi-heart,
.bi-repeat,
.bi-chat {
  color: rgb(83, 100, 113);
  font-weight: 400;
  font-size: 15px;
  font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  line-height: 20px;
  cursor: pointer;
}

.bi-heart-fill {
  font-weight: 400;
  font-size: 15px;
  font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  line-height: 20px;
  cursor: pointer;
}

.comment-svg:hover,
.comment-svg-text {
  background-color: #e4eef7;
}

.post-description {
  line-height: 16px;
  font-size: 13px;
  color: rgb(83, 100, 113);
  font-weight: 400;
  font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  line-height: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.emptyContent {
  opacity: 0.5;
}

.p-0 span {
  font-family: "TwitterChirp", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
}

.logout-nav span {
  display: flex;
  flex-direction: column;
  margin: 0px 100px 0px 5px;
}

.notification-num {
  color: white;
  background-color: rgb(29, 155, 240);
  position: relative;
  font-size: 11px;
  font-weight: 600;
  top: -10px;
  right: 134px;
  line-height: 12px;
  padding: 1px 5px;
  border-radius: 50%;
  border: 1px solid white;
}

.bi-chevron-double-left {
  position: relative;
  left: 35px;
  margin-bottom: 0px;
}

.flex-container {
  display: flex;
}

.notification-margin {
  position: relative;
  margin-left: 10px;
}

.favorite-notification-body {
  position: relative;
  margin-left: 35px;
}

.from-notification-to-user:hover {
  text-decoration: underline;
}

/* real time chat style start to check */

.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.joinChatContainer input {
  width: 100%;
  min-width: 40px;
  height: 40px;
  padding: 22px;
  font-size: 16px;
  border-color: rgb(207, 217, 222);
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-top-style: solid;
}

.chat-window {
  width: 100%;
  height: 100%;
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 45px;
  border-radius: 6px;
  background: #263238;
  position: relative;
  cursor: pointer;
}
.chat-window .chat-header p {
  display: block;
  padding: 0 1em 0 2em;
  color: white;
  font-weight: 700;
  line-height: 45px;
}

.chat-window .chat-body {
  height: calc(450px - (45px + 70px));
  border: 1px solid #263238;
  background: #fff;

  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 120px;
  background-color: #43a047;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-start;
}

#you .message-content {
  justify-content: flex-start;
}

#you .message-meta {
  justify-content: flex-start;
  margin-left: 5px;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: cornflowerblue;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
  display: flex;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;

  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: lightgray;
}

.chat-window .chat-footer button:hover {
  color: #43a047;
}
.hide {
  opacity: 0 !important;
}

/* real time chat style finish to check */

.spesific-room-message-you {
  background-color: rgba(29, 155, 240, 1);
  color: white;
  border-color: rgba(29, 155, 240);
  border-radius: 24px;
  border-bottom-right-radius: 4px;
  box-sizing: border-box;
  max-width: 100%;
}

.spesific-room-message-other {
  background-color: rgba(239, 243, 244, 1);
  color: black;
  border-color: rgb(207, 217, 222);
  border-radius: 24px;
  border-bottom-left-radius: 4px;
  box-sizing: border-box;
  max-width: 100%;
}

#time {
  color: rgb(83, 100, 113);
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.spesific-room-message-content {
  padding: 12px 16px;
  line-height: 20px;
  word-wrap: break-word;
  width: 100%;
  border-color: rgb(207, 217, 222);
  border-radius: 24px;
  border-bottom-left-radius: 4px;
  font-size: 15px;
  box-sizing: border-box;
  max-width: 100%;
}

.spesific-room-message-other-time {
  text-align: left;
}

.spesific-room-message-you-time {
  text-align: right;
}

/* footer chat details page style start to check  */
.chat-footer-detail {
  height: 50px;
  margin: 5px;
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: rgba(239, 243, 244, 1);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.message-input {
  flex: 1;
  padding: 8px;
  margin-right: 8px;
  border-style: none;
  background-color: rgba(239, 243, 244, 1);
  outline: none;
  font-size: 15px;
  width: 100%;
}

.send-button {
  color: rgba(29, 155, 240);
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  background-color: rgba(239, 243, 244, 1);
  cursor: pointer;
  outline: none;
  font-size: 15px;
  line-height: 20px;
}
/* footer chat details page style finish to check  */

/* chat details page user information start to check  */

.message-detail-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  height: 400px;
  width: 100%;
  background-color: #fff;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.message-detail-user-card {
  text-align: center;
  margin-top: 15px;
  height: 330px;
  padding: 20px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* Hover effect */
.message-detail-user-card:hover {
  background-color: #f5f8fa; /* Twitter hover rengi */
}

/* chat details page user information finish to check  */

.selected-user-for-dm:hover {
  background-color: rgba(247, 249, 249, 255);
}
.previous-button:hover,
.close-button:hover,
.arrow:hover,
.settings-icon:hover,
.chat-create-icon:hover {
  background-color: #e7e7e8 !important;
  transition-duration: 0.2s !important;
}

.hover-fullname:hover {
  text-decoration: underline !important;
}

.date-post-detail:hover {
  text-decoration: underline !important;
}

.svg-repost,
.svg-heart {
  cursor: pointer;
}

.compose-tweet-svg {
  display: none;
}

.disabled {
  opacity: 0.5;
}

.disabled-button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: rgba(239, 243, 244, 1);
}

.disabled-send-button-svg {
  position: relative;

  bottom: 1px;
  left: 1px;
}

/* hover effect for svgs start to check  */
/* start to check  */
.send-button-svg {
  position: relative;
  right: 5px;
}

.send-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.svg-border-parent {
  position: relative;
  width: 40px;
  height: 40px;
  margin: auto;
}

.svg-border-parent:hover,
.send-button:hover {
  background-color: #dceaf4;
  transition-duration: 0.2s !important;
}

.post-modal-image-fill,
.post-modal-emoji-picker,
.chat-detail-emoji-picker {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

/* finish to check */
/* hover effect for svgs finish to check  */

.spesific-room-message-main-container {
  margin-top: 10px;
}

.responsive-home-arrow,
.responsive-messages-arrow {
  display: none;
}

/* start to check responsiveness implementation  */

/* navigation bar hover effect => start to check  */
@media (max-width: 991px) and (min-width: 768px) {
  .home:hover,
  .notifications:hover,
  .messages:hover,
  .profile:hover {
    background-color: initial !important;
  }

  .inner-div-fonts {
    display: flex !important;
    justify-content: center !important;
  }

  .inner-div a div div svg {
    width: 36px;
    height: 36px;
    position: relative !important;
    bottom: 2px !important;
    padding: 0px 6px 0px 6px !important;
    border-radius: 49% !important;
  }

  .inner-div a div div svg:hover {
    background-color: #e7e7e8;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  .home:hover,
  .notifications:hover,
  .messages:hover,
  .profile:hover {
    background-color: initial !important;
  }

  .inner-div-fonts {
    display: flex !important;
    justify-content: center !important;
  }

  .inner-div a div {
    position: relative !important;
    right: 2px;
  }

  .inner-div a div div svg {
    width: 36px;
    height: 36px;
    position: relative !important;
    bottom: 2px !important;
    padding: 0px 6px 0px 6px !important;
    border-radius: 49% !important;
  }

  .inner-div a div div svg:hover {
    background-color: #e7e7e8;
  }
}

@media (max-width: 575px) and (min-width: 465px) {
  .home:hover,
  .notifications:hover,
  .messages:hover,
  .profile:hover {
    background-color: initial !important;
  }

  .inner-div-fonts {
    display: flex !important;
    justify-content: center !important;
  }

  .inner-div a div {
    position: relative !important;
    right: 1px;
  }

  .inner-div a div div svg {
    width: 36px;
    height: 36px;
    position: relative !important;
    bottom: 2px !important;
    padding: 0px 6px 0px 6px !important;
    border-radius: 49% !important;
  }

  .inner-div a div div svg:hover {
    background-color: #e7e7e8;
  }
}
/* navigation bar hover effect => finish to check  */

/* Navigation bar nav-bar-home ve left-bar-column responsive ayarları start to check */

@media (max-width: 991px) and (min-width: 768px) {
  .main-column {
    width: 90% !important;
  }

  .nav-bar-home {
    /* background-color: beige; */
    /* margin-left: 86; */
  }

  .left-column {
    /* background-color: blue; */
    width: 10% !important;
    display: flex !important;
    flex-direction: column !important;
  }

  .nav-bar-home div a div div span,
  .logout-three-dots,
  .info-logout span,
  .compose-tweet-text,
  .side-bar-column {
    display: none !important;
  }

  .bi-chevron-double-left {
    margin-left: 11px;
  }

  .bi-chevron-double-left,
  .compose-tweet,
  .logout-nav img,
  .logout-nav svg {
    position: initial !important;
  }

  .logout-nav img,
  .logout-nav svg {
    margin-left: 10px;
  }

  .compose-tweet {
    max-width: 50px !important;
    max-height: 50px !important;
  }

  .nav-bar-home,
  .bi-chevron-double-left {
    display: inline !important;
    /* width: 80%; */
    /* text-align: center; */
  }

  .compose-tweet-svg {
    display: inline !important;

    width: 24px !important;
    height: 24px !important;
  }

  .logout-nav {
    display: inline-block !important;
    position: relative !important;
    right: 8px !important;
  }

  .inner-div {
    display: flex !important;
    align-items: center !important;
  }

  .compose-tweet-2 {
    margin-left: 10px !important;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  .main-column {
    width: 86% !important;
  }

  .nav-bar-home {
    /* background-color: royalblue; */
  }

  .left-column {
    /* background-color: blue; */
    width: 14% !important;
    display: flex !important;
    flex-direction: column !important;
  }

  .nav-bar-home div a div div span,
  .logout-three-dots,
  .info-logout span,
  .compose-tweet-text,
  .side-bar-column {
    display: none !important;
  }

  .nav-bar-home div a div div svg,
  .bi-chevron-double-left {
    margin-left: 15px;
  }

  .bi-chevron-double-left,
  .compose-tweet,
  .logout-nav img,
  .logout-nav svg {
    position: initial !important;
  }

  .logout-nav img,
  .logout-nav svg {
    margin-left: 10px;
  }

  .compose-tweet {
    max-width: 50px !important;
    max-height: 50px !important;
  }

  .nav-bar-home,
  .bi-chevron-double-left {
    display: inline !important;
    /* width: 80%; */
    /* text-align: center; */
  }

  .compose-tweet-svg {
    display: inline !important;
    width: 24px !important;
    height: 24px !important;
  }

  .logout-nav {
    display: inline-block !important;
    position: relative !important;
    right: 8px !important;
  }
}

@media (max-width: 575px) and (min-width: 465px) {
  .main-column {
    width: 82% !important;
  }

  .nav-bar-home {
    /* background-color: rosybrown; */
  }

  .left-column {
    /* background-color: blue; */
    width: 14% !important;
    display: flex !important;
    flex-direction: column !important;
  }

  .nav-bar-home div a div div span,
  .logout-three-dots,
  .info-logout span,
  .compose-tweet-text,
  .side-bar-column {
    display: none !important;
  }

  .nav-bar-home div a div div svg {
    margin-left: 15px;
  }

  .bi-chevron-double-left,
  .compose-tweet,
  .logout-nav img,
  .logout-nav svg {
    position: initial !important;
  }

  .logout-nav img,
  .logout-nav svg {
    margin-left: 10px;
  }

  .compose-tweet {
    max-width: 50px !important;
    max-height: 50px !important;
  }

  .nav-bar-home,
  .bi-chevron-double-left {
    display: inline !important;
  }

  .compose-tweet-svg {
    display: inline !important;
    width: 24px !important;
    height: 24px !important;
  }

  .logout-nav {
    display: inline-block !important;
    position: relative !important;
    right: 8px !important;
  }

  .responsive-post-button {
    display: none !important;
  }

  .inner-div {
    display: flex !important;
    align-items: center !important;
  }

  .compose-tweet-2 {
    margin-left: 10px !important;
  }

  .bi-chevron-double-left {
    margin-left: 15px;
  }
}

@media (max-width: 550px) and (min-width: 465px) {
  .bi-chevron-double-left {
    margin-left: 14px;
  }
}

@media (max-width: 526px) and (min-width: 465px) {
  .bi-chevron-double-left {
    margin-left: 12px;
  }
}

@media (max-width: 500px) and (min-width: 465px) {
  .bi-chevron-double-left {
    margin-left: 11px;
  }
}

@media (max-width: 471px) and (min-width: 465px) {
  .bi-chevron-double-left {
    margin-left: 10px;
  }
}
/* Navigation bar nav-bar-home ve left-bar-column responsive ayarları finish to check */

@media (max-width: 768px) and (min-width: 281px) {
  .header-first {
    font-size: 40px;
  }

  .header-second {
    font-size: 23px;
  }

  .header-container {
    line-height: 28px;
    width: 100%;
  }
}

@media (max-width: 280px) and (min-width: 0px) {
  .header-first {
    font-size: 40px;
  }

  .header-second {
    font-size: 23px;
  }

  .header-container {
    /* background: #26a7de; */
    line-height: 28px;
    width: 100%;
  }

  .responsive-input-group {
    position: relative;
    left: 15%;
  }

  .responsive-input-group-text {
    position: relative !important;
    left: 0;
  }

  .footer-container {
    margin-left: 25px;
    text-align: left;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .compose-tweet {
    max-width: 90%;
  }
  .logout-nav {
    margin-right: 30px;
  }
}

@media (max-width: 465px) and (min-width: 0px) {
  .responsive-home-arrow,
  .responsive-messages-arrow {
    display: block;
  }
}

@media (max-width: 991px) and (min-width: 466px) {
  .inner-div {
    display: flex !important;
    flex-direction: column !important;
  }

  .inner-div div {
    margin-left: 3px !important;
    display: inline-block !important;
    border-radius: 50% !important;
    margin: 2px !important;
  }

  .inner-div svg {
    position: relative !important;
    right: 6px;
  }

  .inner-div div div:hover {
    /* background-color: #e7e7e8 !important; */
  }

  .compose-tweet-2 {
    position: relative !important;
    right: 5px !important;
    border: initial !important;
  }

  .compose-tweet-2:hover {
    border: none !important;
  }

  .logout-nav {
    display: inline !important;
    position: relative;
    right: 5px !important;
  }

  .logout-nav:hover {
    background-color: transparent;
  }
}

/* finish to check responsiveness implementation  */

.post-detail-underline-text-1:hover {
  text-decoration: underline;
  text-decoration-color: rgb(83, 100, 113);
}

.post-detail-underline-text-2:hover {
  text-decoration: underline;
  text-decoration-color: black;
}

@keyframes fadeOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(10px); /* veya başka bir değer */
    opacity: 0;
  }
}

@media (min-width: 1602px) {
  .responsive-comment-line-image-post-detail {
    margin: 5px 0px 5px 2px;
  }
}

@media (max-width: 1602px) and (min-width: 1560px) {
  .responsive-comment-line-image-post-detail {
    margin: 5px 0px 5px 2px;
  }
}
@media (max-width: 1560px) and (min-width: 1500px) {
  .responsive-comment-line-image-post-detail {
    margin: 5px 0px 5px 6px;
  }
}

@media (max-width: 1500px) and (min-width: 1451px) {
  .responsive-comment-line-image-post-detail {
    margin: 5px 0px 5px 6px;
  }
}

@media (max-width: 1451px) and (min-width: 1400px) {
  .responsive-comment-line-image-post-detail {
    margin: 5px 0px 5px 10px;
  }
}

@media (max-width: 1399px) {
  .responsive-comment-line-image-post-detail {
    margin: 5px 0px 5px 0px;
  }
}

@media (max-width: 1200px) {
  .responsive-comment-line-image-post-detail {
    margin: 5px 0px 5px 3px;
  }
}

@media (max-width: 1150px) {
  .responsive-comment-line-image-post-detail {
    margin: 5px 0px 5px 5px;
  }
}

@media (max-width: 1126px) {
  .responsive-comment-line-image-post-detail {
    margin: 5px 0px 5px 8px;
  }
}

@media (max-width: 1044px) {
  .responsive-comment-line-image-post-detail {
    margin: 5px 0px 5px 10px;
  }
}

@media (max-width: 410px) {
  .responsive-comment-line-parent-div {
    width: 42px !important;
    height: 72px !important;
  }
}

@media (max-width: 400px) {
  .responsive-comment-line-parent-div-second {
    width: 18% !important;
  }
}

@media (max-width: 360px) {
  .responsive-comment-line-parent-div-second {
    width: 19% !important;
  }
}

@media (max-width: 340px) {
  .responsive-comment-line-parent-div-second {
    width: 20% !important;
  }
}

@media (max-width: 330px) {
  .responsive-comment-line-parent-div-second {
    width: 21% !important;
  }
}

@media (max-width: 320px) {
  .responsive-comment-line-parent-div-second {
    width: 22% !important;
  }
}

@media (max-width: 310px) {
  .responsive-comment-line-parent-div-second {
    width: 23% !important;
  }
}

@media (max-width: 300px) {
  .responsive-comment-line-parent-div-second {
    width: 24% !important;
  }
}

@media (max-width: 290px) {
  .responsive-comment-line-parent-div-second {
    width: 25% !important;
  }
}

@media (max-width: 280px) {
  .responsive-comment-line-parent-div-second {
    width: 26% !important;
  }
}
/* className="transition-gray-hover" */

.transition-gray-hover {
  transition: background-color 0.2s ease;
}
.transition-gray-hover:hover {
  background-color: rgba(247, 247, 247, 255);
}

.view-post-engagements-section:hover {
  background-color: rgba(247, 247, 247, 255);
}

.accordion-button {
  border: none !important;
  background-color: white !important;
}

.accordion-button:focus {
  border: none !important;
  box-shadow: none;
}

.accordion-button:not(.collapsed) {
  border: none !important;
  color: #212529;
}

.learn-more-post-detail:hover {
  text-decoration: underline;
  text-decoration-color: rgba(29, 155, 240);
}

.three-dots-spesific-profile:hover,
.message-box-spesific-profile:hover,
.follow-following-section-spesific-profile:hover {
  background-color: #e7e7e8;
  transition-duration: 0.2s;
}

.hover-unfollow-cancel:hover {
  background-color: #e7e7e8;
}

.modal-content {
  border-radius: 16px;
}

.following-followers-link:hover {
  text-decoration: underline !important;
  text-decoration-color: black;
}

.selected {
  text-shadow: 1px 0px 3px white;
  color: #fff;
  border-bottom: rgba(255, 255, 255, 0.639) solid 2px;
  padding-bottom: 5px;
}
.hideEmojiContainer,
.hideChooseImageContainer,
.hideLogoutPopup {
  opacity: 0;
  transition: opacity 0.2s ease-in-out; /* Transition süresi ve efektini ayarlayabilirsiniz */
  pointer-events: none; /* Elementin pointer olaylarına müdahalesini kapatmak için */
}

.extra-css-engage-modal,
.settings-and-privacy-second {
  height: 600px;
}

/* side bar colum responsiveness start to check  */

.side-bar-column {
  background-color: royalblue;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .side-bar-column {
    position: fixed;
    height: 100%;
    right: 8px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .side-bar-column {
    position: fixed;
    height: 100%;
    right: 16px;
  }
}

@media (min-width: 1400px) and (max-width: 1600px) {
  .side-bar-column {
    position: fixed;
    height: 100%;
    right: 20px;
  }
}

@media (min-width: 1600px) and (max-width: 1800px) {
  .side-bar-column {
    position: fixed;
    height: 100%;
    right: 70px;
  }
}

@media (min-width: 1880px) and (max-width: 1940px) {
  .side-bar-column {
    position: fixed;
    height: 100%;
    right: 135px;
  }
}

@media (min-width: 1940px) and (max-width: 2000px) {
  .side-bar-column {
    position: fixed;
    height: 100%;
    right: 145px;
  }
}
/* side bar colum responsiveness finish to check  */

/* popover hover effetct start to check  */

.settings-and-privacy:hover,
.logout-popover:hover {
  background-color: #f7f9f9;
}
/* popover hover effetct finish to check  */

.account-info-div:hover,
.change-password-div:hover,
.deactivate-account-div:hover {
  background-color: #f7f9f9;
}

/* .info-account:hover {
  background-color: #f7f9f9;
} */

.change-password-btn {
  height: 45px;
  margin-top: 15px;
}
.change-password-btn:hover {
  background-color: rgb(16, 128, 202);
  outline-style: none;
  border-style: solid;
  border-color: rgb(207, 217, 222);
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-radius: var(--border-radius);
}

/* ant message success change password message start to check  */
.ant-message {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  bottom: 20px;
  width: 100%;
}
.ant-message-notice-content {
  background-color: rgb(16, 128, 202) !important;
  color: white !important;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  width: 380px;
}

.ant-message-success {
  padding: 6px;
}

.anticon-check-circle {
  display: none !important;
}
/* ant message success change password message finish to check  */

.signin-modal-dialog {
  max-width: 600px;
  max-height: 575px;
}
